<h1> <%= @restaurant.name %></h1>
<p> <%= @restaurant.category %></p>
<p> <%= @restaurant.address %></p>
<p> <%= @restaurant.phone_number %></p>
<p> <%= @restaurant.review %></p>

<strong>Reviews</strong>
<p><% @restaurant.reviews.each do |review| %></p>
<p><%= review.content %> - <%= review.rating %></p>

<% end %>


<p><%= link_to "Create a review", new_restaurant_review_path(@restaurant)  %></p>

